html {
  scroll-behavior: smooth;
}
#root {
  margin: 0 auto;  
  overflow-x: hidden;
}
.vet__container{
  display: flex;
  flex-direction: column;
  /* gap: 80px; */
}

.vet__section{
  
  gap: 10px;
  width: 100%;  
  height: 90vh;  
}
.column__center__flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
.row__center__flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.vet__section h1{
  padding: 0px;
  margin: 0px;
}
.round-border{
  border-radius: 50%;
}
/* :root {
  --primary-blue: #5A9EC6;
  --primary-green: #A2D5AB;
  --neutral-beige: #F3E8D8;
  --soft-gray: #E0E0E0;
  --pure-white: #FFFFFF;
  --soft-black: #333333;  
} */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
