:root {
    --cor-branca: #FFFFFF;
    --cor-verde-escuro: #3b6945;
    --cor-verde-claro: #cae4cc;
    --cor-cinza-claro: #F1F1F1;
    --cor-cinza-escuro: #505050;
    --cor-bege-claro: #D1B59B;
    --cor-verde-musgo: #4A6F4B;
}